body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.text-center{
  font-size: 35px;
  font-family: "Geneva", sans-serif;
  font-weight: 900;
  margin-top: 15px;
}

.description {
  white-space: pre-wrap;
  position: relative;

}

.description .descriptionText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.description:hover .descriptionText {
  visibility: visible;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  
}

.row {
  white-space: pre-wrap;
  height: 85px;
  border-top: 1px solid white;
  clear: both;
  content: "";
  
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px dashed #000000;
  
}

.past {
  background-color: #d3d3d3;
  color: black;
  border: 1px solid white;
}

.present {
  background-color: #ff6961;
  color: black;
  border: 1px solid white;
}

.future {
  background-color: #77dd77;
  color: black;
  border: 1px solid white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  font-size: 25px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
